/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-May-2015, 20:26:05
    Author     : john
*/

img.table-logo{
    width: 60px;
    height: 60px;
}

.chart-panel {
    width: 600px;
    height: 60px;
}